<form action="/rpg/farm" method="post">farm</form>
<form action="/rpg/cave" method="post">cave</form>
<form action="/rpg/casino" method="post">casino</form>
<form action="/rpg/house" method="post">house</form>
