<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wishlist</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="my_wishlist">
        <table>
          <thead>
            <tr>
              <th>Item</th>
              <th>Added by</th>
              <th>Date Added</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          {% for Course in course %}
          <tr>
            <td>{{Course.name}}</td>
            <td>{{Course.description}}</td>
            <td>{{Course.created_at}}</td>
            <td><a href="/{{Course.id}}/destroy">Remove</a></td>
          </tr>
          {% endfor %}
        </tbody>
        </table>


      </div>

    </div>

  </body>
</html>
