#not_valid {
  height: 100px;
  width: 500px;
  background-color: red;
  border: 5px solid black;

}
.wrapper {
  margin: auto;
  height: 800px;
  width: 1200px;
  background-color: gray;
  text-align: center;
  align-content: center;
  /*display: inline-block;*/

}
#email_address {
  display: inline-block;
}
